{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Add User Info
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 form-bg">
        <div class="form-title">Add User Info</div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-sm mt-3">Register/Update</button>
            <a class="btn btn-secondary btn-sm mt-3" href="#">Back to ...</a>
            <a href="javascript:history.back()" class="btn btn-secondary btn-sm mt-3">Back</a><br>
        </form>
    </div>
</div>

{% endblock %}
