{% load static %}


<style>
    .profile-img
    {
        width:40px;
        height:40px;
        border-radius:50%;
    }
    .logo
    {
        background: var(--bg-color);
    }
</style>


<nav>
    <div class="nav-left">
        <img src="{% static 'images/logo.png' %}" class="logo profile-img" >
    </div>
    <div class="nav-right">

        <div class="nav-user-icon online" onclick="settingsMenuToggle()">
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
            {% else %}
                <img src="{% static 'images/sunrise.jpg' %}" alt="Default Profile Picture" class="profile-img">
            {% endif %}
        </div>
    </div>
    <div class="settings-menu">
        <div class="settings-menu-inner">
            <div class="user-profile">
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
            {% else %}
                <img src="{% static 'images/sunrise.jpg' %}" alt="Default Profile Picture" class="profile-img">
            {% endif %}
                <div>
                    <p>{{ user.first_name}} {{ user.last_name }}</p>
                    {% if user.profile.user %}
                    <a href="{% url 'user_profile' user.id %}">See your profile</a>
                    {% else %}
                    <a href="{% url 'create_profile' %}">Create profile</a>
                    {% endif %}
                </div>
            </div>
            <hr>

            <div class="settings-links">
                <img src="{% static 'images/logout.png' %}" class="settings-icon">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</nav>




