{% extends  'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Mentors List
{% endblock %}

{% block content %}

<style>
.fa-pen {
    color: var(--secondary-color);
}
.fa-trash {
    color: var(--accent-color);
}

a
{
    text-decoration:none;
}
table
{
    font-size:12px;
}
</style>

<h5>Mentors List:</h5>
<hr>
<div>
    <a class="btn btn-primary btn-sm" href="{% url 'create_mentor' %}" >Add New Mentor</a>
</div>
<br>

    <div class="write-post-container">

    <table class="table table-hover">
        <thead class="content-font">
            <tr class="content-font">
                <th scope="col">Full Name</th>
                <th scope="col">Expertise</th>
                <th scope="col">Assigned Date</th>
                <th scope="col">Assigned Until</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in men_lis %}
            <tr class="content-font">
                <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                <td>{{ i.expertise }}</td>
                <td>{{ i.assigned_on }}</td>
                <td>{{ i.assigned_until }}</td>
                <td class="decision">
                    <a class="act" href="{% url 'update_mentor' i.id %}"><i class="fa-solid fa-pen"></i></a>
                </td>
                <td class="decision">
                    <a class="act close-icon delete-record-link" data-record-id="{{ i.pk }}" href="{% url 'delete_mentor' i.id %}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}

