
{% extends  'base.html' %}
{% load static %}

{% block title %}
  Users List
{% endblock %}

{% block content %}

<style>

.fa-pen {
    color: var(--secondary-color);
}
.fa-trash {
    color: var(--accent-color);
}
.profile-container
{
    display:flex;
}
.profile-image
{
    width:10%;
    display:flex;
    flex-direction:column;
}
.user-name
{
    width:40%;

}
.chat,
.profile
{
    width:20%;
}
h6
{
    font-size:13px;
    font-weight:600;
    color: var(--secondary-color);
}
a
{
    text-decoration:none;
}
img
{
    width:40px;
    height:40px;
    border-radius:50%;
}
.profile
{
    color:var(--secondary-color);
}
</style>

<h5>Users List:</h5>
<hr>

{% for i in all_users %}
    <div class="write-post-container">

        <div class="post-input-container profile-container">
            <div class="profile-image">
                {% if i.profile %}
                    <img src="{{ i.profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
                {% else %}
                    <img src="{% static 'images/sunrise.jpg' %}" alt="Default Profile Picture" class="profile-img">
                {% endif %}
            </div>
            {{i.user.profileimage.profile_image}}
            <div class="user-name">
                <p>{{ i.first_name }} {{ i.last_name }}</p>
            </div>

            {% if i.pk == user.pk %}
            {% else %}
            <div class="chat">
                <a href="{% url 'start_private_chat' i.id %}" class="chat">Chat</a>
            </div>
            <div class="profile">
                <a href="{% url 'user_profile' i.id %}" class="profile">Open Profile</a>
            </div>
            {% endif %}
         </div>
    </div>
{% endfor %}



  {% endblock %}

